<header class="page-header contanier">
  
 

  <div class="container page-header-container">
   <div class="mobile-desktop-menu">
    
<a href="./index.html" class="header-mobile-menu-link home-link link"><span class="menu-list-mob">Home</span></a>
     <div  class="sprite cursor-list">
<a   class="header-mobile-menu-link favorite-link link"><span class="menu-list-mob">Favorite</span></a>

        <svg  class="chevron-desing" width="24px" height="24px">
        <use href="./img/sprite.svg#icon-chevron-down"></use>
      
      </svg>

      </div> 
    
      
    <div  class="hiddenDiv" style="display: none;">
        <!-- Содержимое div блока -->
        <a href="./favCocktails.html" class="header-mobile-list link">Favorite cocktails</a>
    <a href="./ingredients.html" class="header-mobile-list link">Favorite ingredients</a>
      </div>
      
      
    </div> 
       
    <a class="header-logo" href="./index.html"
        ><span class="header-logo-span">Drinkify</span
        ><svg class="header-icon-logo" width="24px" height="20px" >
          <use href="./img/sprite.svg#icon-cocktail"></use>
        </svg>
      </a>
    <label class="switch switch-desktop">
  <!-- <input type="checkbox" checked> -->
  <input id="theme-switcher" type="checkbox">
  <span class="slider round"></span>
</label>
   
<!-- <label class="switch switch-desktop" id="theme-switcher">
  <input type="checkbox">
  <span class="slider round"></span>
</label> -->

   

    <button type="button" class="header-menu-btn js-open-menu">
      <svg class="header-menu-btn-icon" width="28px" height="28px">
        <use href="./img/sprite.svg#icon-align-justify"></use>
      </svg>
    </button>
 
  </div>
  
  <div class="page-header header-mobile-menu js-menu-container">
   <div class="page-header-container container">
    <a class="header-logo" href="./index.html"
        ><span class="header-logo-span header-logo-span-w">Drinkify</span
        ><svg class="icon-logo-w"  width="24px" height="20px" >
          <use href="./img/sprite.svg#icon-cocktail"></use>
        </svg>
      </a>
      <div class="check-position">
      <!-- <label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label> -->
 <label class="switch">
  <!-- <input type="checkbox" checked> -->
  <input id="theme-switcher-mobile" type="checkbox">
  <span class="slider round"></span>
</label>


      <button
      type="button"
      class="mobile-menu-close-btn js-close-menu"
    >
      <svg class="mobile-menu-close-icon" width="32px" height="32px">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    </div>
    </div>

    <div class="header-mobile-menu-list list">
     
        <a href="./index.html" class="header-mobile-menu-link link"><span class="menu-list-mob">Home</span></a>
      <div class="chevron spriteMob cursor-list">
      
        <a  class="spriteMob  header-mobile-menu-link link">Favorite</a>
        <svg  width="32" height="32">
        <use href="./img/sprite.svg#icon-chevron-down"></use>
      </svg>
      </div>
    <div class="hiddenDivMob hidden-list" style="display: none;">
        
        <a href="./favCocktails.html" class="header-mobile-list link">Favorite cocktails</a>
    <a href="./ingredients.html" class="header-mobile-list link">Favorite ingredients</a>
      </div>
       
</div>
<svg class="star" width="391px" height="391px">
        <use href="./img/sprite.svg#icon-star_combo_7"></use>
      </svg>
  </div>
</header>