<section class="container">
 
  <select class="hero-mobyle-js" id="keyboardmin">
    <option  class="hero-mobyle-min">A</option>
    <option  class="hero-mobyle-min">B</option>
    <option  class="hero-mobyle-min">C</option>
    <option  class="hero-mobyle-min">D</option>
    <option  class="hero-mobyle-min">E</option>
    <option  class="hero-mobyle-min">F</option>
    <option  class="hero-mobyle-min">G</option>
    <option  class="hero-mobyle-min">H</option>
    <option  class="hero-mobyle-min">I</option>
    <option  class="hero-mobyle-min">J</option>
    <option  class="hero-mobyle-min">K</option>
    <option  class="hero-mobyle-min">L</option>
    <option  class="hero-mobyle-min">M</option>
    <option  class="hero-mobyle-min">N</option>
    <option  class="hero-mobyle-min">O</option>
    <option  class="hero-mobyle-min">P</option>
    <option  class="hero-mobyle-min">Q</option>
    <option  class="hero-mobyle-min">R</option>
    <option  class="hero-mobyle-min">S</option>
    <option  class="hero-mobyle-min">T</option>
    <option  class="hero-mobyle-min">U</option>
    <option  class="hero-mobyle-min">V</option>
    <option  class="hero-mobyle-min">W</option>
    <option  class="hero-mobyle-min">X</option>
    <option  class="hero-mobyle-min">Y</option>
    <option  class="hero-mobyle-min">Z</option>
    <option  class="hero-mobyle-min">1</option>
    <option  class="hero-mobyle-min">2</option>
    <option  class="hero-mobyle-min">3</option>
    <option  class="hero-mobyle-min">4</option>
    <option  class="hero-mobyle-min">5</option>
    <option  class="hero-mobyle-min">6</option>
    <option  class="hero-mobyle-min">7</option>
    <option  class="hero-mobyle-min">8</option>
    <option  class="hero-mobyle-min">9</option>
    <option  class="hero-mobyle-min">0</option>
  </select>


<ul class="js-keyboard" id="keyboard">
  <li>
    <button type="button" class="keyboard-letter" >A</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >B</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >C</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >D</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >E</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >F</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >G</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >H</button>
  </li>
  <li><button type="button" class="keyboard-letter" >I</button></li>
  <li><button type="button" class="keyboard-letter" >J</button></li>
  <li><button type="button" class="keyboard-letter" >K</button></li>
  <li>
    <button type="button" class="keyboard-letter" >L</button>
  </li>
  <li><button type="button" class="keyboard-letter" >M</button></li>
  <li>
    <button type="button" class="keyboard-letter" >N</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >O</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >P</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >Q</button>
  </li>
  <li><button type="button" class="keyboard-letter" >R</button></li>
  <li>
    <button type="button" class="keyboard-letter" >S</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >T</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >U</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >V</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >W</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >X</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >Y</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >Z</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >1</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >2</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >3</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >4</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >5</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >6</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >7</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >8</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >9</button>
  </li>
  <li>
    <button type="button" class="keyboard-letter" >0</button>
  </li>
</ul>
<form class="search-form">
  <div class="search-input-block">
    <input
      type="text"
      class="text-input"
      name="search"
      id="search"
      placeholder="Search"
      required
      pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄʼ0-9 ]+"
    />
  
    <button type="button" class="container-svg">
      <svg
        class="input-icon-hero"
        aria-label="icon search"
        width="16"
        height="16"
      >
        <use href="./img/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </div>
</form>
</section>