:root {
  --main-color: #7e8fdd;
  --hover-color: #9cdfdf;
  --dark-letters-color: #242424;
  --light-letters-color: #fdfdff;
  --modal-background: #f8f9ff;

  --transition-cubic: cubic-bezier(0, 0.17, 0.2, 0.88);

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
}

link:visited {
  color: inherit;
}

@media screen and (max-width: 767.9px) {
  body {
    background-size: cover;
    background-image: url(../img/bcg-image/mobile-bcg-image.jpg);
  }
  .dark-theme body {
    background-image: url(../img/bcg-image/dark-mobile-bcg-image.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    body {
      background-image: url(../img/bcg-image/mobile-bcg-image@2x.jpg);
    }
    .dark-theme body {
      background-image: url(../img/bcg-image/dark-mobile-bcg-image@2x.jpg);
    }
  }
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-size: cover;
    background-image: url(../img/bcg-image/tablet-bcg-image.jpg);
  }
  .dark-theme body {
    background-image: url(../img/bcg-image/dark-tablet-bcg-image.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    body {
      background-image: url(../img/bcg-image/tablet-bcg-image@2x.jpg);
    }
    .dark-theme body {
      background-image: url(../img/bcg-image/dark-tablet-bcg-image@2x.jpg);
    }
  }
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-size: cover;
    background-image: url(../img/bcg-image/desktop-bcg-img.jpg);
  }
  .dark-theme body {
    background-size: cover;
    background-image: url(../img/bcg-image/dark-desktop-bcg-img.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    body {
      background-image: url(../img/bcg-image/desktop-bcg-img@2x.jpg);
    }
    .dark-theme body {
      background-image: url(../img/bcg-image/dark-desktop-bcg-img@2x.jpg);
    }
  }
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* .title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }  */
