.markup__section {
  padding-top: 40px;
  padding-bottom: 80px;
}
.container-random-cocktails-gallary {
  width: 320px;
}
.cocktails-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main-title {
  color: var(--dark-letters-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;

  margin-bottom: 40px;
}
/* Card  */
.cocktail-card {
  background-color: var(--light-letters-color);
  border-radius: 20px;
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out,
    animation 250ms ease-in-out;
}
.cocktail-card:hover,
.cocktail-card:focus {
  box-shadow: 0 0 2px #7e8fdd, 0 0 5px #7e8fdd, 0 0 8px #7e8fdd;
  animation: pulsate-light 4s infinite alternate;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
  transform: scale(1.05);
}

.container__img {
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
}
.cocktail-card-img {
  width: 307px;
  height: 257px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}
/* Dscription  */
.cocktail-description-container {
  padding: 0 20px 20px 20px;
  margin-top: 20px;
  background-color: transparent;
}
.cocktail-title {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  color: var(--dark-letters-color);
  margin-bottom: 14px;
}

.cocktail-description {
  height: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 1.28;
  color: var(--dark-letters-color);

  margin-bottom: 20px;
}
/* Buttons  */
.cocktail-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card-button-learn-more {
  padding: 14px 48px;

  font-family: inherit;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.42;
  color: var(--dark-letters-color);

  background-color: transparent;
  text-transform: uppercase;
  text-wrap: nowrap;

  border-radius: 12px;
  border: 1px solid var(--main-color);

  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.card-button-learn-more:hover,
.card-button-learn-more:focus {
  background-color: var(--main-color);
  color: var(--light-letters-color);
}
/* .button-svg-heart {
  fill: var(--main-color);
  transition: fill 250ms var(--transition-cubic);
} */
/* .button-svg-heart:hover,
.button-svg-heart:focus {
  fill: var(--light-letters-color);
} */
.button-svg-heart {
  display: block;
  padding: 14px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
  background: var(--main-color);
  transition: fill 250ms var(--transition-cubic);
}
.icon-heart {
  width: 18px;
  height: 18px;
  fill: none;
  pointer-events: none;
}
/* 375 */
@media screen and (min-width: 375px) {
  .container-random-cocktails-gallary {
    width: 375px;
  }
  .card-button-learn-more {
    font-size: 14px;
    padding: 14px 71px;

    min-width: 232px;
    min-height: 48px;
  }

}
/* 768 */
@media screen and (min-width: 768px) {
  .container-random-cocktails-gallary {
    width: 768px;
  }
  .markup__section {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .main-title {
    font-size: 40px;
  }
  .cocktails-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
  .cocktail-card {
    width: calc((100% - 32px) / 2);
  }
  .cocktail-description-container {
    padding: 0 24px 24px 24px;
    margin-top: 24px;
  }
  .cocktail-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .cocktail-description {
    margin-bottom: 24px;
  }
  .card-button-learn-more {
    font-size: 18px;
    line-height: 1.33;
    padding: 16px 55px;

    min-width: 225px;
    min-height: 56px;
  }
  .button-svg-heart {
    padding: 16px;
    width: 56px;
    height: 56px;
  }
  /* .icon-heart {
    width: 24px;
    height: 24px;
    
  } */
}

@media screen and (min-width: 1280px) {
  .container-random-cocktails-gallary {
    width: 1280px;
  }
  .cocktails-list {
    column-gap: 24px;
    row-gap: 44px;
  }
  .cocktail-card {
    width: calc((100% - 48px) / 3);
  }
  .main-title {
    margin-bottom: 44px;
  }
}

/* Dark  */
.dark-theme .main-title {
  color: var(--light-letters-color);
}

.dark-theme .cocktail-card {
  background-color: #232330;
}
.dark-theme .cocktail-card:hover,
.dark-theme .cocktail-card:focus {
  box-shadow: 0 0 2px #fff, 0 0 5px #fdfdff, 0 0 8px #fdfdff;
  transition: transform 250ms linear;
  transform: scale(1.05);
}

.dark-theme .cocktail-card-img {
  background: transparent;
}

.dark-theme .cocktail-description-container {
  background-color: transparent;
}

.dark-theme .cocktail-title {
  color: var(--light-letters-color);
}

.dark-theme .cocktail-description {
  color: var(--light-letters-color);
}

.dark-theme .card-button-learn-more {
  color: var(--light-letters-color);
  background-color: transparent;
  border: 1px solid var(--main-color);

  transition: color 2550ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.card-button-learn-more:hover,
.card-button-learn-more:focus {
  background-color: var(--main-color);
  color: var(--light-letters-color);
}

.button-svg-heart {
  fill: var(--main-color);
  transition: fill 250ms var(--transition-cubic);
}

.button-svg-heart:hover,
.button-svg-heart:focus {
  fill: var(--light-letters-color);
}

.button-svg-heart {
  background-color: var(--main-color);
}
