.cocktail-card img {
    width: 100%;
    height: auto;
    padding: 14px 14px 0 14px;
    margin-bottom: 20px;
  }
  
  .cocktail-title {
   margin-bottom: 14px;
  }
  
  .cocktail-description {
    max-width: 295px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    margin-bottom: 20px;
  }