/* .header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */





/* #hiddenDiv {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 20px;
    left: 20px;
} */


.menu-list-desktop{
  display: none;
}
.header-menu{
  display: none;
}
.header-list-menu{
  display: none;
}
.mobile-desktop-menu{
display: none;  
align-items: center;
}
.home-link{
  padding-right: 28px;
}
.favorite-link{
  padding-right: 4px;
}
.header-logo-span {
  color: #000000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}
.dark-theme .header-logo-span {
  color: #FDFDFF;
}

.header-logo-span-w {
color: #FDFDFF
}
.header-logo {
    display: flex;
    gap: 4px;
  }
.header-icon-logo{
    width: 24px;
    height: 20px;
    fill: #7E8FDD;
}
.icon-logo-w{
  fill: #9CDFDF;
}
.page-header {
  padding-top: 20px;
}
.container {
  width: 100%;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.page-header-container {
  
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header-logo-icon {
  --color1: #000000;
}


.header-menu-btn {
  border: none;
  background-color: transparent;
  line-height: 0;
  padding: 0;
  margin: 0;
}
.js-open-menu use {
fill:var(--dark-letters-color);
stroke:var(--dark-letters-color);
}
.dark-theme .js-open-menu use {
fill:var( --modal-background);
stroke:var( --modal-background);
}
/* mobile menu */
.header-mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #7E8FDD;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
}
.check-position{
  display: flex;
  gap: 18px;
align-items: center;
}
.mobile-menu-close-icon{
  fill:#FDFDFF;
 
}
.mobile-menu-close-icon:hover,
.mobile-menu-close-icon:focus {
  fill: #000000;
}
.header-mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-close-btn {
  /* position: absolute; */
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  margin-top: 180px;
 
}

.header-mobile-menu-link {
 color: #FDFDFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
letter-spacing: 0.36px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile-menu-link:hover,
.header-mobile-menu-link:focus {
  color: #000000;
}

.chevron{
  display: flex;
  align-items: center;
  gap: 4px;
  margin: auto;
}
 .spriteMob{
    fill: none;
    stroke: #ffffff;
  }
.header-mobile-list{
  color: rgba(253, 253, 255, 0.50);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 0.28px;
}
.header-mobile-list:hover,
.header-mobile-list:focus
{
color: #FDFDFF;
}
 .cursor-list{
  cursor: pointer;
      display: flex;
    align-items: center;
  
}
.hidden-list{
  flex-direction: column;
    align-items: center;
      gap: 8px;
}
.star{
  display: none;
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9CDFDF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9CDFDF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid #9CDFDF;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-desktop{
  display: none;
}
@media screen and (min-width: 768px) {
.page-header {
  padding-top: 24px;
}
  .header-menu-btn-icon {
    width: 32px;
    height: 32px;
  }
  .header-logo-span {
  font-size: 22px;
  
}
  .mobile-menu-close-btn {
    top: 24px;
    right: 32px;
    width: 32px;
    height: 32px;
  }
  .header-mobile-menu {
    width: 290px;
  }
}
@media screen and (min-width: 768px) {
  .header-mobile-menu-link {
    font-weight: 600;
  }
  .header-mobile-menu {
    width: 290px;
  }
  .header-mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;}
  
}
.header-mobile-menu-list-social {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 18px;
}
.header-mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-menu-social-icon {
    width: 24px;
    height: 24px;
  }
  .star{
    display: block;
  position: absolute;
  fill: #FDFDFF;
  opacity: 0.3;
  bottom: -100px;
  right: -100px;

}
.slider.round {
  border-radius: 34px;
  border: 1px solid #ffffff;
}
}

/* desktop */
@media screen and (min-width: 1280px) {
  .cursor-list{
  cursor: pointer;
      display: flex;
    align-items: center;
}
  .mobile-desktop-menu{
    display: flex;
  }
  .hiddenDiv {
   border-radius: 16px;
background: #7E8FDD;
padding: 18px 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
   position: absolute;
    top: 33px;
    left: 121px
}

  .chevron-desing{
    fill: none;
    stroke: #7E8FDD;
  }
  
  
  
  .menu-list-desktop{
  display: flex;
  gap: 4px;
}


  .header-mobile-menu-link {
    color: #242424;
font-size: 16px;
font-weight: 400;
line-height: 18px; /* 112.5% */
letter-spacing: 0.32px;
  }

.dark-theme .header-mobile-menu-link {
    color: #FDFDFF;
  }

  
  .page-header {
  padding-top: 29px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 1px;
  background-color: #9CDFDF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9CDFDF;
}





.switch {
  width: 64px;
  height: 32px;
}
  .switch-desktop{
  display: block;}
  .header-mobile-menu-list{
    display: none;
  }
  .slider.round {
  border-radius: 34px;
  border: 1px solid #000000;
}
input:checked + .slider:before {
  transform: translateX(30px);
}
  .header-menu{
  display: block;
}
  .header-logo {
    /* padding-left: 570px; */
    font-size: 18px;
    line-height: 1.11;
  }
  .header-menu-btn {
    display: none;
  }
  .header-mobile-menu {
    display: none;
  }
  .header-menu-desktop {
    display: flex;
  }
  .header-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
  }
  .header-list-social {
    display: flex;
    align-items: center;
    column-gap: 18px;
  }
  /* .header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  .header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #0c0c0c;
  }
}
