.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgb(21 21 21 / 60%);

    transition: all 250ms linear;
}
/* .backdrop.is-hidden {
    pointer-events: all;
    opacity: 1;
    visibility: hidden;
} */

.modal {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    padding: 40px 20px 40px 20px;
    background-color: var(--modal-background);
    z-index: 1;
}
    


.modal__button {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border: none;
    background-color: transparent;
    transition: border 250ms linear;
    cursor: pointer;

}

.modal__icon {
    width: 24px;
    height: 24px;
    fill: black;
}

@media screen and (min-width: 768px) {
.modal {
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
width: 600px;
min-height: 569px;
padding: 40px;
border-radius: 20px;
background-color: var(--modal-background);
}
}
    
@media screen and(min-width: 1280px) {
 /* .modal {
width: 600px;
min-height: 569px;
} */
}