.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    background-color: rgb(21 21 21 / 60%);
    overflow: scroll;

    transition: all 250ms linear;
}
.backdrop.is-hidden {
    pointer-events: all;
    opacity: 1;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(1);
}

.modal {

    position: absolute;
    width: 335px;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    padding: 40px 20px 40px 20px;
    background-color: var(--modal-background);
    transform: translate(-50%, -50%) scale(1);
    border-radius: 15px;
    overflow: auto;
    z-index: 400;
}
    
.dark-theme .modal{
    background-color: #232330;;
}

.modal__button {
    padding: 0;
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border: none;
    background-color: transparent;
    transition: border 250ms linear;
    cursor: pointer;

}

.modal__icon{
    width: 18px;
    height: 18px;
}

.dark-theme .modal__icon{
fill:var(--light-letters-color);
}

.modal-bottons {
    margin-top: 40px;
    display: flex;
    gap: 18px;
    flex-direction: row;

}

    

.modal-header{ 
    margin-bottom: 20px;
}

.modal-header__img{
    margin-right: auto;

    width: 295px;
    height: 277px;
    border-radius: 16px;
    margin-bottom: 40px;
}
.modal-header__title{
    color: var(--dark-letters-color);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}
.dark-theme .modal-header__title{
    color:var(--light-letters-color);
}
.modal-header__subtitle{
    color: var(--dark-letters-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.12;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.dark-theme .modal-header__subtitle {
    color: var(--light-letters-color)
}
.modal-header__text{
    color: rgba(36, 36, 36, 0.50);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: 20px;
    
}
.dark-theme .modal-header__text {
    color: var(--light-letters-color)
}
.modal-header__list{
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
   list-style-type: disc;
   margin-left: 20px;

    color: rgba(36, 36, 36, 0.80);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;

  
}

.dark-theme .modal-header__list {
    color: var(--light-letters-color)
}

.modal-header__link:hover{
    color: var(--main-color);
}
.modal-header__subtitle-inst{
    margin-bottom: 40px;
}

.modal-bottons{
    
     flex-direction: column;
}

.modal-btn-addfavorites{
    display: inline-flex;
    /* align-items: flex-start; */
    gap: 10px;
    padding: 16px 44px;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background: var(--main-color);
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    color: var(--light-letters-color);
}


.modal-btn-addfavorites:hover{
    background: #6E7FCF;
}

.modal-btn-back{
    display: inline-flex;
    padding: 16px 60px;
    align-items: flex-start;
    gap: 10px;
    min-width: 100%;
    height: 56px;
    color: #242424;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; 
    letter-spacing: 0.36px;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    border-color: transparent;
    border-radius: 12px;
    background: rgba(36, 36, 36, 0.10);
}
.modal-btn-back:hover{
    background: rgba(36, 36, 36, 0.20);
}
.dark-theme .modal-btn-back{
    background: rgba(253, 253, 255, 0.10);
    color: var(--light-letters-color);
}
.dark-theme .modal-btn-back:hover {
    background: rgba(253, 253, 255, 0.20);}
@media screen and (min-width: 768px) {
    .modal {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 600px;
        min-height: 569px;
        padding: 40px;
        border-radius: 20px;
        background-color: var(--modal-background);
    }
    .modal-header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    }
    .modal-bottons {
    margin-top: 40px;
    display: inline-flex;
    gap: 18px;
    flex-direction: row;
    }
    .modal-header__img{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .modal-header__subtitle-inst {
            margin-bottom: 20px;
        }
    .modal-btn-addfavorites{
        min-width: 251px;
        
    }
    .modal-btn-back{
        min-width: 172px;

    }
}